body {
  margin: 0 auto;
  width: 500px;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
}

.form {
  position: relative;

  .btn {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 3px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .del {
    width: 25px;
    height: 25px;
  }
}

.hidden {
  display: none;
}
